</body>
</html>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bd4af7bf360a89358bf6e41e1f18f292&libraries=services"></script>

<script type="text/javascript">

    /*
    * 맵 세팅
    */
    let container = document.getElementById("map");
    let options = {
        center: new kakao.maps.LatLng(37.516161, 127.0597355),
        level:4
    }
    let map = new kakao.maps.Map(container, options);
    /***/

    /*
    * Geocoder 서비스 설정
    */
    var geocoder = new kakao.maps.services.Geocoder();

    geocoder.addressSearch('서울 강남구 영동대로118길 3', function(result, status) {
            if(status === kakao.maps.services.Status.OK) {
                let coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                let marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });
                let infowindow = new kakao.maps.InfoWindow({
                    position: map,
                    content: '<div style="width:150px;text-align:center;padding:6px 0;">텐스</div>'
                })
                
                infowindow.open(map, marker);
            }

        }
    )
    /***/
</script>