</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bd4af7bf360a89358bf6e41e1f18f292&libraries=services"></script>
<script type="text/javascript">

    // 지도를 생성합니다
    let mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567),
            level: 3
        };

    let map = new kakao.maps.Map(mapContainer, mapOption);

    // 장소 검색 객체를 생성합니다
    let places = new kakao.maps.services.Places(map);
    let infowindow = new kakao.maps.InfoWindow({zIndex:1});

    places.keywordSearch('봉은사 맛집', keywordCallback);

    function keywordCallback(data, status, pagination) {
        if(status === kakao.maps.services.Status.OK) {
            let bounds = new kakao.maps.LatLngBounds();

            for(i = 0; i < data.length; i++) {
                displayMarker(data[i]);
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }
            map.setBounds(bounds);
        }
    }

    
    //디스플레이 표출
    function displayMarker(_place) {
        let marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(_place.y, _place.x)
        });

        //Marker에 이벤트 추가하기
        kakao.maps.event.addListener(marker, 'click', function() {
            console.log("Hello World");
            if(confirm(_place.place_name+"을(를) 식당 메뉴에 추가하시겠습니까?")){
                alert(_place.place_name+"이 식당 목록에 추가됐습니다.");
            };
        })

        kakao.maps.event.addListener(marker, 'mouseover', function() {
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + _place.place_name + '</div>');
            infowindow.open(map, marker);
        })
        
    }
    
</script>