<!DOCTYPE html>
<html>
<head>
    <title>오늘 점심 뭐 먹지?</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<style type="text/css">
    a {
        text-decoration-line: none;
        color:black;
    }
    
    ul {
        list-style: none;
    }

    li {
        float: left;
        margin: 0 5px 0 5px;
    }
</style>
<body>