<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <ul>
            <li>
                <input type="text" name="username" placeholder="이름 입력">
            </li>
            <li>
                <input type="text" name="email" placeholder="이메일 입력"><button type="button">인증</button>
            </li>
            <li>
                <input type="text" placeholder="인증번호 입력"><button type="button">확인</button>
            </li>
            <li>
                <input type="password" name="password" placeholder="비밀번호 입력">
            </li>
            <li>
                <input type="password" placeholder="다시 한번 비밀번호를 입력해 주세요">
            </li>
            <li>
                <button type="button">가입하기</button>
            </li>
        </ul>
    </main>
</body>
</html>